<form action="/new-post" method="POST" enctype="multipart/form-data">
  <h2>Create new post</h2>

  <label for="content">Content</label>
  <input type="content" name="content" placeholder="">

  <label>Post Image</label>
  <input type="file" name="photo">

  <button type="submit">Post</button>
</form>