<form action="/createcomment"  method="POST" enctype="multipart/form-data" >
  <h2>Comment</h2>
  <label for="content">Content</label>
  <input type="text" name="content" placeholder="Your comment">

  <div class="image-comment-item">
    <label for="photo"> Photo </label>
    <input type="file" name="photo" class="form-control" >
  </div>

  <button type="submit">Create Comment</button>
</form>
