<h2>Create Post</h2>
<form action="/create" method="post" enctype="multipart/form-data">
  <label>Namen</label>
  <input type="text" name="picName">
  <label>Description</label>
  <input type="text" name="content">

  <label>Image</label>
  <input type="file" name="photo">

  <input type="submit" value="Upload">
</form>
<br>
<br>
<a href="/private"><button>Profile</button></a>
