<h2>Make a new post </h2>
<form action="/post/add" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title">

  <label>Content</label>
  <input type="text" name="content">

  <label>Pic</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>

