<div class="container">
  <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="/auth/logout" class="nav-link">Logout</a>
        </li>
      </ul>
  </nav>
  <br><br>
  <h2>Profile</h2>
  <br>
</div>