<div class="container">
  <form action="/auth/signup" method="POST" enctype="multipart/form-data">
    <h2>Sign up</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" placeholder="Your username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" placeholder="********">
    </div>
    <div class="form-group">
      <label>Profile Photo</label>
      <input class="form-control-file" type="file" name="photo">
    </div>

    <button class="btn btn-info" type="submit">Create account</button>
      <p>
        You have an account? <a href="/auth/login">Login</a>
      </p>
  </form>
</div>